<h2 class="mb-4">Take Attendance for Class on {{ selectedDate | date: 'EEEE yyyy-MM-dd' }}</h2>

<!-- Date Picker -->
<div class="mb-3">
  <input type="date" class="form-control" [value]="selectedDateString" (change)="onDateChange($event)" />
</div>

<h2 class="mb-4">Students</h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let student of students" (click)="toggleHistory(student.id)">
    <strong>{{ student.firstName }} {{ student.lastName }}</strong>

    <!-- Attendance Selection -->
    <div class="attendance-options my-2">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" [name]="student.id + 'attendance'" value="present"
               [checked]="attendanceState[student.id]?.status === AttendanceStatus.PRESENT"
               (change)="onAttendanceRadioChange(student.id, AttendanceStatus.PRESENT)" />
        Present
      </label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" [name]="student.id + 'attendance'" value="absent"
               [checked]="attendanceState[student.id]?.status === AttendanceStatus.ABSENT"
               (change)="onAttendanceRadioChange(student.id, AttendanceStatus.ABSENT)" />
        Absent
      </label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" [name]="student.id + 'attendance'" value="excused"
               [checked]="attendanceState[student.id]?.status === AttendanceStatus.EXCUSED"
               (change)="onAttendanceRadioChange(student.id, AttendanceStatus.EXCUSED)" />
        Excused
      </label>
    </div>

    <!-- Comment -->
    <textarea class="form-control mb-2" (input)="onCommentChange(student.id, $event)" placeholder="Comment on Student"
              [value]="attendanceState[student.id]?.comment"></textarea>

    <!-- Attendance History -->
    <div *ngIf="attendanceState[student.id]?.showHistory" class="mt-2">
      <h4>Attendance History</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let record of student.attendance">
          {{ record.date | date: 'yyyy-MM-dd' }} - {{ record.status }}
          <em *ngIf="record.comments"> ({{ record.comments }}) </em>
        </li>
      </ul>
    </div>
  </li>
</ul>

<button type="button" class="btn btn-primary mt-3" (click)="onSaveAttendance()">Save Attendance</button>
