<!-- app.component.html -->
<nav class="top-nav">
  <a routerLink="/user-queue">User Queue</a>
  <a routerLink="/worker-dashboard">Worker Dashboard</a>
  <a routerLink="/admin-dashboard">Admin Dashboard</a>
  <a routerLink="/payment">Pay Fees</a>
  <a routerLink="/instructor-payment">Instructor Pay Fees</a>
 <a routerLink="/create-event">Create event</a>
 <a routerLink="/event-list">events</a>
  <a routerLink="/user-profile">My Profile</a>
  <a routerLink="/club-profile">My Club</a>
</nav>
<hr />
<router-outlet></router-outlet>

<!-- <app-login></app-login>-->
<!--<hr/>-->
<!--<app-instructor-dash></app-instructor-dash>-->
<!--<hr/>-->
<!--<app-add-user></app-add-user>-->
<!-- <hr/>-->
<!--<app-instructor-report></app-instructor-report>-->
<!-- <hr/>-->
<!--<app-class-pay></app-class-pay>-->
<!--<hr/>-->
<!-- <app-grading-form></app-grading-form>-->
<!-- <hr/>-->
<!-- <app-class-pay></app-class-pay>-->
<!-- <hr/>-->
<!-- <app-admin-dash></app-admin-dash>-->
<!-- <hr/>-->
<!--<app-affiliation-pay></app-affiliation-pay>-->
<!-- <hr/>-->
<!-- <app-affliation-form></app-affliation-form>-->
<!-- <hr/>-->
<!-- <app-affliation-report></app-affliation-report>-->
<!-- <hr/>-->
<!-- <app-club-profile></app-club-profile>-->
<!-- <hr/>-->
<!-- <app-user-profile></app-user-profile>-->
<!-- <hr/>-->
<!-- <app-grading-report></app-grading-report>-->
<!-- <hr/>-->
<!-- <app-class-notice-board></app-class-notice-board>-->
<!-- <hr/>-->
<!-- <app-create-event></app-create-event>-->
<!--<hr/>-->
<!-- <app-jks-notice-board></app-jks-notice-board>-->
<!-- <hr/>-->
