 <app-login></app-login>
<hr/>
<app-instructor-dash></app-instructor-dash>
<hr/>
<app-add-user></app-add-user>
 <hr/>
<app-instructor-report></app-instructor-report>
 <hr/>
<app-class-pay></app-class-pay>
<hr/>
 <app-grading-form></app-grading-form>
 <hr/>
 <app-class-pay></app-class-pay>
 <hr/>
 <app-admin-dash></app-admin-dash>
 <hr/>
<app-affiliation-pay></app-affiliation-pay>
 <hr/>
 <app-affliation-form></app-affliation-form>
 <hr/>
 <app-affliation-report></app-affliation-report>
 <hr/>
 <app-club-profile></app-club-profile>
 <hr/>
 <app-user-profile></app-user-profile>
 <hr/>
 <app-grading-report></app-grading-report>
 <hr/>
 <app-class-notice-board></app-class-notice-board>
 <hr/>
 <app-create-event></app-create-event>
<hr/>
 <app-jks-notice-board></app-jks-notice-board>
 <hr/>
